// colors
$c-black: #000;
$c-dark: #2b2b2b;
$c-grey: #474747;
$c-grey-light: #eee;

// font size
$txt-xxl: 40px;
$txt-xl: 26px;
$txt-l: 20px;
$txt-m: 16px;

// font weight
$bold: 700;
$regular: 400;

// font family
$f-headline: 'Fira Sans Condensed', arial, sans-serif;
