/* Main Nvigation */
div._transcribathon_mainnav {
	height: 40px;
	background: $c-dark;
	color: #fff;
	width: 100%;
	text-align: right;
	padding: 0px 20px;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Die Logo-Datei (image) befindet sich in der Datei logos.css */
._transcribathon_partnerlogo {
	display: block;
	position: absolute;
	float: left;
	top: 40px;
	left: 20px;
	width: 120px;
	height: 120px;
	background: #fff;
	z-index: 2;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

._transcribathon_partnerlogo img {
	max-width: 100%;
	height: auto;
}

ul#_transcribathon_topmenu {
	display: block;
	right: 80px;
	height: 40px;
	line-height: 40px;
	letter-spacing: 0.8px;
	top: 0;
	position: absolute;
}

/* Projekt-spezifische Styles */
nav[role=navigation] {
	background: #fff;
	border-bottom: none;
	text-transform: uppercase;
}

ul#_transcribathon_topmenu li ul li a {
	background: $c-dark;
	letter-spacing: 0.3px;
}

ul#_transcribathon_topmenu li ul {
	background: transparent;
	margin-left: -130px;
	margin-top: -13px;
	width: 160px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: none !important;
}

ul#_transcribathon_topmenu li {
	margin-right: 10px;
}

#help-tutorial {
	right: 10px;
	position: absolute;
	top: 10px;
}

#help-tutorial i {
	font-size: 23px;
	color: #ffffff;
}

ul#_transcribathon_topmenu li a {
	background-color: transparent;
}

ul#_transcribathon_topmenu li ul:before {
	content: '';
	width: 0px;
	height: 0px;
	border: 15px solid;
	margin-left: 140px;
	border-color: transparent transparent #000 transparent;
}

/* Navigation-Colours are set in css/custom.php */
nav[role=navigation].main-navigation #menu-main-menu > li a {
	text-transform: uppercase;
	letter-spacing: 0.3px;
	font-weight: 400;
	font-size: 16px;
	background: #fff;
	padding-left: 10px;
	padding-right: 10px;
}

nav[role=navigation].main-navigation .sub-menu > li a {
	text-transform: uppercase;
	letter-spacing: 0.3px;
	font-weight: 400;
	font-size: 12px;
	background: #fff;
	padding: 15px 10px;
}

a.contact-area {
	font-weight: 400;
	outline: none;
}

nav[role=navigation].main-navigation .menu {
	padding-left: 160px;
	margin-left: 0px !important;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 100%;
}
