#frontpage-bottom {
	margin-top: 80px;
}

#frontpage-bottom-link-list li {
	display: inline-block;
	text-align: center;
	width: 18%;
	margin-left: 7.5% !important;
	margin-right: 7.5% !important;
}

.frontpage-bottom-link-div {
	padding-top: 1em;
}

.frontpage-bottom-icon {
	font-weight: 500;
	font-size: 60px;
}
