.widget_headline-widget {
	margin-bottom: 0px !important;
}

.widget_headline-widget .decoration {
	display: none;
}

.widget_headline-widget h3 {
	font-family: 'Fira Sans Condensed';
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 0.3px;
}
